form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 2.5rem;
}

form label textarea{
    font-size: 1.5rem;
}

input[type="submit"]{
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 30px;
}